@model MvcApplication15.Models.UserData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddData</title>
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>



<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sx-4 col-xs-4 ">
                <img src="~/Content/images/Registration-label.png" class="img-responsive" alt="Responsive image">
                <br>
                <div class="control-group">
                    <label class="control-label" for="inputEmail"> Введите ваше имя</label>
                    <div class="controls">
                        <input type="text" id="inputEmail" placeholder="ФИО">
                    </div>
                </div>
                <br>
                <img src="Koala.jpg" width="200" height="200"> <br> <br>
                <button class="btn btn-large btn-primary" type="button"> Выбрать аватарку</button>
                <br> <br>


            </div>
            <div class="col-md-4 col-sm-4 ">

                <br><br><br><br><br>
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail"> Город</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="Город проживания">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword"> Год рождения</label>
                        <div class="controls">
                            <input type="controls" id="inputPassword" placeholder="Введите Email">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail"> Телефон</label>
                        <div class="controls">
                            <input type="TEXT" id="inputEmail" placeholder="Введите телефон">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputEmail"> Скайп</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="Введите скайп">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail"> Местоработы\учебы</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="Введите Местоработы\учебы">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputEmail"> Увлечения</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="Ваши увлечения">
                        </div>
                    </div>


                </form>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <br><br><br><br><br><br><br><br>
                Дополнительная информация
                <textarea rows="10"></textarea>
                <br><br>
                <button type="button" class="btn btn-primary">Сохранить</button>

            </div>
        </div>
        </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
</body>
</html>
