@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<fieldset>
    <form>
        <input type="email" /><br />
        <input type="password" /><br />
        <input type="submit" />

    </form>

</fieldset>
