@model MvcApplication1.Models.User
<h2>Registration</h2>
   <div>
        @using (Html.BeginForm("Registration", "Home", FormMethod.Post))
        {
        <p>Enter your e-mail: </p>
        @Html.TextBox("email", "Введите имя")
        <p>Enter password :</p>
        @Html.TextBox("Password", "Введите адрес")
        <p><input type="submit" value="Отправить" /></p>
        }
    </div>