@{
    ViewBag.Title = "Registration";
}
<h2>Registration</h2>
@Html.BeginForm()
{

    <fieldset>
    <form method="post" action="/Home/">
        <input type="email" /><br />
        <input type="password" /><br />
        @
        <input type="password" /><br />
        <input type="submit" />

    </form>

</fieldset>


}