@model MvcApplication29.Models.UserData

<div>
    <img src="~/Content/images/None-Avatar.jpg" width="200" height="200"> <br> <br>

    @using (Html.BeginForm("Upload", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="upload" /><br>
        <input type="submit" class="btn btn-large btn-primary" value="Загрузить аватарку" />
    }
</div>