@{
    Layout = null;
}
@model MvcApplication29.Models.Message

@using (Html.BeginForm("PostMessage", "Message", new {UserGetId = Model.UserGet.UserId}, FormMethod.Post))
{  
@Html.TextAreaFor(m => m.Text)

<button type="submit" class="btn-block btn-primary">
    Отправить <div class="glyphicon glyphicon-question-sign"></div></button>
    @*<button type="submit" class="btn-block btn-primary" onclick="location.href'@Url.Action("PostMessage", "Message",)'></button>*@
}
