@{
    Layout = null;
}
@model MvcApplication29.Models.Message
           <br />

    @using (Html.BeginForm("PostMessage", "Message", new { UserGetId = Model.UserGet.UserId, returnUrl = Request.Url.PathAndQuery }, FormMethod.Post))
    {
       <p><b>Новое сообщение</b></p>
        @Html.ValidationMessage("MessageError")
        @Html.TextAreaFor(m => m.Text, new { @class = "textArea", @cols = "90%", @rows = "4", @onkeyup= "checkMessage()" })

        <button type="submit"  disabled id="submitBtn" class="btn">
            Отправить
        </button>

    }
<script>
    function checkMessage() {
        var s = document.getElementById('Text').value
        
        if (s.length < 1)
        {
            document.getElementById('submitBtn').disabled = true
        }
        else
        {
            document.getElementById('submitBtn').disabled = false
        }
    }
</script>