
@model MvcApplication29.Models.UserData

<table width="700px" style="margin-top:15px; background-color:lightblue;">
    <tr style="margin-left:15px;">
        <td rowspan=" 3" width="50%" style="margin-left:15px;">
            <img height="400" width="305" src="@Model.AvatarUrl" />
        </td>
        <td align="left"><h2>@Model.Name @Model.LastName</h2> </td>

    </tr>
    <tr>
        <td>
            @Html.Raw(ViewBag.FrendStatus)<br />
        <button type="button" class="btn" onclick="show('block')">Отправить сообщение</button>
    </td>
    </tr>
    <tr>
        <td style="padding-top: -20px; margin-left: 15px;">
           <p>Родной город:@Model.City </p>
            <p> Дата рождения:@Model.BrithDay.ToShortDateString()</p>
            <p> Телефон:@Model.Phone</p>
            <p> Skype:@Model.Skype</p>
            <p>Школа:@Model.School</p>
            <p> Место работы:@Model.Job </p>
        </td>
    </tr>

        @{Html.RenderAction("ViewWallUser", "Wall", new {UserId = Model.UserProfile.UserId });}
        
</table>

<script type="text/javascript">

    //Функция показа
    function show(state) {

        document.getElementById('wind').style.display = state;
        document.getElementById('wr').style.display = state;
    }
</script>
<!-- Message window-->
<div onclick="show('none')" id="wr"></div>
<!--Загрузка аватарки-->
<div id="wind">
    <!-- Картинка крестика-->
    <img class="clo" onclick="show('none')" src="http://sergey-oganesyan.ru/wp-content/uploads/2014/01/close.png">
    @{
        Html.RenderAction("PostMessage", "Message", new { UserGetId = Model.UserProfile.UserId });
    }
</div>

