@{
    Layout = "~/Views/Shared/UserView.cshtml";
}
@model List<MvcApplication29.Models.UserData>

                        
@foreach (var item in Model)
{
                        <table border="1">
                            <tr>
                                <td rowspan="4"><img src="@item.AvatarUrl" width="160" height="160"></td>
                                <td colspan="1"><a href="/Users/Index/@item.UserProfile.UserId">@item.Name @item.LastName</a></td>
                            </tr>
                            <tr>
                                <td>@item.City</td>
                            </tr>
                            <tr>
                                <td>17 лет</td>
                            </tr>
                            <tr><td>Написать Сообщение</td></tr>
                       </table>
    
                        <br />
                        }

