@{
    Layout = null;
}
@model MvcApplication29.Models.UserData
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
    <style>
        body {
            background-color: #333; /* Цвет фона веб-страницы */
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-3 col-sm-3 col-xs-3">

            <div class="col-md-5 col-sm-5-col-xs-5"><img src="~/Content/images/22.png" class="img-responsive" alt="Responsive image"></div>
            <div class="col-md-5 col-sm-5-col-xs-5">@Html.DisplayTextFor(m => m.Name) </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <br><span class="glyphicon glyphicon-globe"></span>
            </div>

            <table border="1">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <div class="col-md-5  col-sm-5-col-xs-5"><img src="Koala.jpg" width="250" height="250"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>

                    <td><button type="button" class="btn-block btn-primary">Фотографии <div class="glyphicon glyphicon-picture"></div></button></td>
                </tr>

                <tr>
                    <td><button type="button" class="btn-block btn-primary">Видеозаписи <div class="glyphicon glyphicon-film"></div></button></td>
                </tr>
                <tr>
                    <td><button type="button" class="btn-block btn-primary">Музыка <div class="glyphicon glyphicon-headphones"></div></button></td>
                </tr>
                <tr>
                    <td><button type="button" class="btn-block btn-primary">Информация <div class="glyphicon glyphicon-info-sign"></div></button></td>
                </tr>
                <tr>
                    <td><button type="button" class="btn-block btn-primary">Выйти <div class="glyphicon glyphicon-log-out"></div></button></td>
                </tr>
            </table>
        </div>


        <div class="col-md-9">


            <div class="col-md-2">

                <button type="button" class="btn-block btn-primary">Сообщения <div class="glyphicon glyphicon-envelope"></div></button>

            </div>
            <div class="col-md-2">

                <button type="button" class="btn-block btn-primary">Стена <div class="glyphicon glyphicon-list-alt"></div> </button>

            </div>
            <div class="col-md-2">

                <button type="button" class="btn-block btn-primary">Друзья <div class="glyphicon glyphicon-user"></div></button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn-block btn-primary">
                    Поиск <div class="
glyphicon glyphicon-search"></div>
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn-block btn-primary">
                    Настройки <div class="
          glyphicon glyphicon-cog"></div>
                </button>
            </div>
            <div class="col-md-2">

                <button type="button" class="btn-block btn-primary">
                    Помощь <div class="
          glyphicon glyphicon-question-sign"></div>
                </button>

            </div>

        </div>




        <div class="container">
            <div class="row">

                <div class="col-md-9">
                    <br>
                    @RenderBody()
                </div>
            </div>

        </div>
    </div>
              
</body>
</html>
